<app-header></app-header>
<body>
<div class="hero">
  <main class = "full">
    <div class="text">
      <h1>SWEETS</h1>
    </div>
    <div class="firstpart">
      <section>
        <a><img src="https://thumbs.gfycat.com/LimitedHeavyKoalabear-max-1mb.gif" id = "first"> </a>
        <h3>Snickers</h3>
        <h3>Mercator lozionicka</h3>
        <p>20.07.2023.</p>
        <p>0.95KM</p>
      </section>

      <section>
        <a><img src="https://thumbs.gfycat.com/LimitedHeavyKoalabear-max-1mb.gif" id = "first"> </a>
        <h3>Snickers</h3>
        <h3>Mercator lozionicka</h3>
        <p>20.07.2023.</p>
        <p>0.95KM</p>
      </section>

    </div>

    <div class=" secondpart">
      <section>
        <a><img src="https://thumbs.gfycat.com/LimitedHeavyKoalabear-max-1mb.gif" id = "first"> </a>
        <h3>Snickers</h3>
        <h3>Mercator lozionicka</h3>
        <p>20.07.2023.</p>
        <p>0.95KM</p>
      </section>
      <section>
        <a><img src="https://thumbs.gfycat.com/LimitedHeavyKoalabear-max-1mb.gif" id = "first"> </a>
        <h3>Snickers</h3>
        <h3>Mercator lozionicka</h3>
        <p>20.07.2023.</p>
        <p>0.95KM</p>
      </section>
    </div>

  </main>
</div>
</body>
<app-footer></app-footer>

