<header>
    <div class="header-all">
        <nav>
            <div class="logo">
                <h2>Eatix</h2>
            </div>
            <div>
                <ul>
                    <li><a routerLink="/homepage" routerLinkActive="active"><span itemprop="name">Home</span></a></li>
                    <li><a routerLink="/homepage" routerLinkActive="active"><span itemprop="name">About us</span></a></li>
                    <li><a routerLink="/homepage" routerLinkActive="active"><span itemprop="name">Stores</span></a></li>
                    <li><a routerLink="/category" routerLinkActive="active"><span itemprop="name">Category</span></a></li>
                    <li><a routerLink="/homepage" routerLinkActive="active"><span itemprop="name">Contact</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
