@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: #023020;

}


a{
    text-decoration: none;
}
.header-all{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #fff;
    position: relative;
    padding: 5px 0;
    font-weight: bolder;
}

nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #ffffff;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}

.logo h2{
    color:#fff;
    font-size:40px;
    letter-spacing:2px;
    cursor:pointer;
    margin-bottom:25px;
    padding-top: 20px;
}
.style1{
    font-family: "Papyrus", monospace;
}

.logoimg{
    height: 100px;
    width: 400px;
    margin-bottom:25px;
}

.logo{
    display: flex;
}

@media(max-width: 600px){
    .header-all{
        width: 100%;
        margin: 0;
    }
    nav{
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    nav ul li{
        display: inline-flex;
    }
    .logo{
        padding: 10px 20px;
    }

}

