<div class="section">
    <h1 class="title">EATIX</h1>
</div>

<div class="form-box">
    <div class="header-text">
        CHOOSE THE FOOD CATEGORY:
        <div class="checkbox">
            <div class="box">
            <label for="allfood"> ALL FOOD </label>
            <input type="checkbox" id="allfood" name="allfood" value="Allfood">
            </div>

            <div class="box">
            <label for="milkproducts">MILK PRODUCTS</label><br>
            <input type="checkbox" id="milkproducts" name="milkproducts" value="Milkproducts">
        </div>

            <div class="box">
            <label for="meat"> MEAT</label>
            <input type="checkbox" id="meat" name="meat" value="Meat">
            </div>

            <div class="box">
                <label for="sweet"> SWEET</label>
                <input type="checkbox" id="sweet" name="sweet" value="Sweet">
            </div>

            <div class="box">
                <label for="fruitandvegetables"> FRUIT AND VEGETABLES</label>
                <input type="checkbox" id="fruitandvegetables" name="fruitandvegetables" value="Fruitandvegetables">
            </div>
        </div>
    </div>
    <button routerLink="/homepage" routerLinkActive="active">CONTINUE TO ACCOUNT</button>

</div>


