<div class="section">
    <h1 class="title">EATIX</h1>
</div>

<div class="form-box">
    <div class="image">
        <img src="https://i.imgur.com/rGDk3GB.png">
    </div>
    <div class="header-text">
        BE PART OF THE SOLUTION, NOT THE WASTE.
    </div>
    <input placeholder="NAME" type="text">
    <input placeholder="SURNAME" type="text">
    <input placeholder="EMAIL" type="text">
    <input placeholder="ADDRESS" type="text">
    <input placeholder="PASSWORD" type="password">
    <button routerLink="/login" routerLinkActive="active">CREATE AN ACCOUNT</button>
</div>


